@import url("https://fonts.googleapis.com/css2?family=Merriweather+Sans:ital,wght@0,300..800;1,300..800&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap");

.merriweather-sans-normal {
  font-family: "Merriweather Sans", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}
* {
  margin: 0px;
  padding: 0px;
}

.header {
  margin: 50px 140px;
}

/* banner section start */
.banner {
  background-image: linear-gradient(
      to top,
      rgba(15, 15, 15, 0.3),
      rgba(15, 15, 15, 0.3)
    ),
    url(../images/Banner\ Image.png);
  height: 600px;
  width: 1320px;
  background-repeat: no-repeat;
  margin: 0 auto;
  border-radius: 16px;
}
.banner-content {
  width: 632px;
  height: 246px;
  text-align: center;
  padding: 177px 344px;
}
.banner-sub-title {
  font-size: 32px;
  color: #ffffff;
}
.banner-title {
  font-size: 72px;
  font-weight: bold;
  color: #ffffff;
}
