@import url("https://fonts.googleapis.com/css2?family=Merriweather+Sans:ital,wght@0,300..800;1,300..800&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap");

.merriweather-sans-normal {
  font-family: "Merriweather Sans", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}
* {
  margin: 0px;
  padding: 0px;
}

/* shared common style */
.color-red{
    color: #FF0000;
}
.center{
    text-align: center;
}

.header {
  margin: 50px 140px;
}

/* banner section start */
.banner {
  background-image: linear-gradient(
      to top,
      rgba(15, 15, 15, 0.3),
      rgba(15, 15, 15, 0.3)
    ),
    url(../images/Banner\ Image.png);
  height: 600px;
  width: 1320px;
  background-repeat: no-repeat;
  margin: 0 auto;
  border-radius: 16px;
}
.banner-content {
  width: 632px;
  height: 246px;
  text-align: center;
  padding: 177px 344px;
}
.banner-sub-title {
  font-size: 32px;
  color: #ffffff;
}
.banner-title {
  font-size: 72px;
  font-weight: bold;
  color: #ffffff;
}

/* OFF section */
.off-section{
    height: 806px;
    width: 802px;
    margin: 120px 399px;
}

.off-section-title{
    font-size: 86px;
    font-weight: bold;
    margin-bottom: 48px;
}
.off-section-container-subtitle{
    font-size: 24px;
    font-weight: 600;
    margin-bottom: 16px;
}
.off-section-container-title{
    font-size: 48px;
    font-weight: bold;
    color: #070211;
    margin-bottom: 48px;
}


/* welcome section start */
.welcome{
    display: flex;
    gap: 40px;
    margin: 0 auto;
    border-radius: 16px;
    width: 1320px;
    height: 600px;
    background-image:linear-gradient(
      to left,
      rgba(255, 255, 255, 0.3),
      rgba(0, 0, 0, 0.9)
    ),
    url(../images/Vectorrr.png);
    background-repeat: no-repeat;
}

.welcome-content{
   padding:126px 0 126px 126px;
}
.welcome-content-title{
    font-size: 64px;
    font-weight: bold;
    color: #FFFFFF;
    width: 642px;
    margin-bottom: 24px;
}
.welcome-description{
    font-size: 18px;
    color: #FFFFFF;
    width: 697px;
    margin-bottom: 30px;
}

.welcome-banner{
    padding: 68px 137px 67px 0;
}
.welcome-btn{
    background-color: black;
    color: #FFFFFF;
    height: 24px;
    width: 103px;
    font-size: 20px;
    font-weight: bold;
    border: none;
}
